[user]
  name = NAME_HERE
  email = EMAIL_HERE
  signingkey = SIGNING_KEY_HERE
[core]
  editor = code
[color]
  ui = auto
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold
[alias]
  cm = commit -m
  a = add
  s = status
  pl = pull
  p = push
  m = merge
  b = branch
  c = checkout
  f = fetch
[commit]
  gpgsign = true
[gpg]
  program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[includeIf "gitdir:C:/Users/lukes/work/"]
  path = .gitconfig-work
